#main-slider-container {
  margin-top: 70px;
  height: 600px;
}

#c-slider-card {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  scrollbar-width: none;
  scroll-behavior: smooth;
  padding-top: 10px;
  
  margin-left: 60px;

}

#c-slider-card::-webkit-scrollbar {
  display: none;
}

#main-slider-container {
  position: relative;
  display: flex;
}

.slider-icon.left,
.slider-icon.right {
  background-color: transparent;
  color: black;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: -50px;
  font-size: 20px;
  padding: 10px;
  border: 0.5px solid white;


}
.c-controls {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  
  }

.slider-icon.left {
  margin-right: 60px;
}


.c-slider-card-2 {
    width: 300px;
    height: 290px;
    background: white;
    display: inline-block;
    margin-right: 5px;
    margin-left: 15px;
    position: relative;
    box-shadow: 0 1px 2px #00000029;
}
.c-list-header {
    position: relative;
    margin-top: 75px;
    width: 400px;
    color: black;
    padding: 5px 0;
}

.c-list-header::before,
    .c-list-header::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        border-radius: 2px;
    }
.c-slider-card-2 .img-album {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
  position: relative;
  margin-bottom: 150px;
}
.img-album:hover{
  transition: 1ms;
}
.c-slider-card-2:hover .c-controls .fas {

  color: black;
  transition: 1s;

}
.c-header-mi {
    position: relative;
    color: black;
    width: 150px;
  }
  
  .c-header-mi h3 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 150px;
    color: black;
  }
  .c-header-mi h4 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 150px;
    color: rgb(80, 74, 74);
    top: 25px;
  }
  .c-header-mi h5 {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 150px;
    color: rgb(145, 32, 32);
    top: 50px;
  }
  .c-controls {
    color: rgb(22, 21, 21);
    margin-top: 50px;
    margin-right: 50px;
  }
 
  .c-controls .fas {
    color: transparent;
  }
  
  .Heads {
    position: relative;
    width: 400px;
    color: black;
    padding: 10px 0;
    margin-left:10px ;
  }
  
  .Heads::before,
  .Heads::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 2px;
  }
  
  .Heads::before {
    width: 100%;
    background: black;
  }
  
  .Heads::after {
    width: 50px;
    background: #e73700;
  }

